/* COULEUR */
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("ttf");
}
html, body, ul, div, h1, h2, h3, h3, h4, h5, h6, p, input {
    font-family: "Raleway";
}

html, body, ul, div, h1, h2, h3, h3, h4, h5, h6, p, input {
    box-sizing: border-box;
    color: #232323;
}


a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: #0065FC;
    transform: scale(1.01); 
}


.text-mutted {
    color: #7e7e7e; 
}

.prixgras {
    color: #7e7e7e;
}

.mt-2 {
    margin-top: 15px; 
}


.fa-star {
    color: #0065FC; 
}

ul, li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* CSS CONTENEUR */




.site {
    padding: 0 30px; 
}


/* CSS HEADER */

.header nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-bottom: 15px; 
}


.header nav .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.header nav .liens {
    height: 100%; 
}

.header nav li {
    margin-right: 5rem; 
}

.header nav li.hbr {
    border-top: 2px solid #0065FC;
    color: #0065FC; 

}

.header nav li.inscription {
    color: #0065FC;
   font-weight: 700;
    margin-right: 0;
}

.header .accroche {
    margin-bottom: 15px; 
}

.header .accrochetitre {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.header .accroche p {
    font-size: .9em; 
}

.header .lieu {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start; 
}

.header .lieu .localisation {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header .lieu .localisation span {
    display: inline-block;
    background-color: #F2F2F2;
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 8px 0 0 8px; 
}

.header .lieu .localisation input {
    height: 100%;
    border-radius: 0;
    padding-left: 5px;
    border: 1px solid #F2F2F2;
    font-weight: 600;
}

.header .lieu .localisation button {
    height: 100%;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 400;
    border-radius: 0 10px 10px 0;
    cursor: pointer; 
}

.header .lieu .localisation button:hover { /* CHANGEMENT DU CURSEUR DE LA SOURIS */
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px 1px #b6b6b6; 
}

.header .filtres { /* ALIGNEMENT DES FILTRES */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    cursor: pointer;
}

.header .filtres .titrefiltres {
    font-size: 1.1em;
    color: #232323f3; 
}

.titrefiltres-mobile {
    display: none;
}

.header .filtres .filtre__nom { /* BORDEURE DES FILTRES + TEXTE */
    line-height: 35px;
    border: 2px solid #e4e2e2;
    margin: 8px 15px 0;
    height: 38px;
    position: relative;
    border-radius: 39px;
    padding-right: 8px;
    padding-left: 47px;
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
}

.header .filtres .filtre__nom:hover { /* OMBRES ET COULEURS DES FILTRES + SURVOL */
    background-color: #0065FC;
    color: #fff;
    border: 2px solid #0065FC;
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px 1px #b6b6b6; 
}

.header .filtres .filtre__nom span { /* POSITION + COULEUR DES PICTOGRAMMES */
    display: inline-flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #D6E7FF;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    top: -2px;
    left: -3px; 
}


.header .information {
    margin-bottom: 25px; 
}

.header .information span { /* POSITION + FORME DU I INFORMATION */
    display: inline-block;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    border: 1px solid #F2F2F2;
    text-align: center;
    font-weight: 700;
    color: #0065FC;
    margin-right: 3px; 
}

/* ----------FIN HEADER------------ */

/* MAIN */

h2.Titre {
    font-size: 1.3em;
    flex-basis: 100%; 
}

.Note span {
    font-size: .8em;
}

.main .heberg {
    display: flex;
    justify-content: stretch;
    margin-bottom: 30px;
}


.main .heberg aside { /* BORDURE BACKGROUND ASISDE */
    order: 2;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 15px; 
}

.main .heberg aside .Titre {
    width: 100%;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin: 15px 15px 15px; 
}

.main .heberg aside .card__populaire {
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    width: 90%;
    margin: 15px; 
}

.main .heberg aside .card__populaire:hover { /* LIEN DE SUVOL ACTIVITÉ */
    transform: scale(1.01);
    box-shadow: 0 0 3px 2px #d8d7d7; 
}

.main .heberg aside .card__populaire .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding: 10px; 
}

.main .heberg aside .card__populaire .card__body h3 {
    font-size: 1em; 
}

.main .heberg aside .card__populaire .card__body .Note {
    align-self: stretch; 
}

.main .heberg aside .card__populaire .card__image {
    height: 9rem;
    width: 40%;
    overflow: hidden;
}

.main .heberg aside .card__populaire .card__image img {
    height: 120%;
    width: 100%;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
    object-position: center;
}

.main .heberg .hebergement_liste {
    flex-basis: 70%;
    padding: 15px;
    margin: 0 15px 0 0;
    border-radius: 8px;
    background-color: #F2F2F2;
    order: 1;
    flex-grow: 1; 
}

.main .heberg .hebergement_liste .hebergement_groupe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement {
    flex-basis: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement:hover {
    transform: scale(1.01);
    box-shadow: 0 0 3px 2px #d8d7d7; 
}


.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px 8px 0 0; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .img img {
    width: 100%;
    height: 100%; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .card__body {
    margin-left: 10px; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .card__body .card__title {
    font-size: .8em;
    margin: 5px 0; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .card__body .card__text {
    font-size: .9em; 
}

.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .card__body .card__text::first-letter {
    text-transform: capitalize; 
}


.main .heberg .hebergement_liste .afficher-plus {
    display: block;
    flex-basis: 100%; 
    font-weight: bold;
}


/* FOOTER */

.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.footer__section p {
    line-height: 1;
}

/* ACTIVITÉS */

.container {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    height: 500px;
  }
.container p {
    font-size: .7em;
    font-weight: bold;    
}

.one {
    flex:1;
    box-shadow:  4px 2px 4px 2px #b1b1b14b;
    border-radius: 10px;
}


.one-margin {
    margin-bottom:20px;   
}

.two-center {
    margin-right:20px;   
}

.two {
    flex-direction: column;
    justify-content: space-between;   
    flex: 1;
    margin-left:20px;
    display:flex;    
}

.one-small {
    flex-grow: 1;
}

.one-medium {
    flex-grow: 2;
}

#vieuxport {
    background-image: url("images/activites/2_large/Vieuxport.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height:90%;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;        
}

#fortpom {
    background-image: url("images/activites/2_large/Fortpom.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    flex-grow: 2;
    background-position: left bottom;   
}

#frioul {
    background-image: url("images/activites/2_large/frioul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    height:70%;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    background-position: left bottom;   
}

#calanques {
    background-image: url("images/activites/2_large/calanques.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height:90%;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}

#lagarde {
    background-image: url("images/activites/2_large/lagarde.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    
}

#parclong {
    background-image: url("images/activites/2_large/parclong.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;       
}


@media screen and (max-width: 766px) {
    .container {
      flex-wrap: wrap;
      flex-direction: column;
      height: 200%;
    }
    .one {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
    .two-center {
      margin-right: 0;
    }
  
    .two {
      margin-left: 0;
    }
  
    #vieuxport {
      background-position: left bottom;
    }
  
    #calanques,
    #fortpom,
    #frioul,
    #lagarde,
    #parclong,
    #vieuxport {
      height: 200px;
    }
  }



  /* RESPONSIVE */





@media (max-width: 766px){
.header {
    width: 100%;
    padding: 0;
}
}

@media (max-width: 766px){
.header nav {
    position: relative;
    height: 160px;
}
}


@media (max-width: 766px){
.header nav .logo {
    position: absolute;
    display: block;
    height: 60px;
    left: 15px;
    top: 15px;
    
}
}

@media (max-width: 766px){
.header nav .liens {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
}
}

@media (max-width: 766px){
.header nav .liens .premierlien {
    display: flex;
    justify-content: space-between;
}
}

@media (max-width: 766px){
.header nav .liens .premierlien li.hbr {
    font-weight: 700;
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

    .site {
        box-sizing: content-box;
        padding: 0%;
    }
    .titrefiltres-mobile {
        display: block;
    }
    .titrefiltres{
        display: none;
    }
}


@media (max-width: 766px) {
.header nav .liens .premierlien .li {
    margin-right: 1105px;
    width: 50%;
    height: 100px;
}
}

@media (max-width: 766px) {
.header nav .liens .secondlien {
    display: flex;
    justify-content: flex-end;
}
}

@media (max-width: 766px){
.header .accroche, .header .lieu, .header .filtres, .header .information {
    padding: 0 8px;
}
}

@media (max-width: 766px){
.main .heberg {
    flex-direction: column;
    justify-content: space-between;
}
#img-2 {
    height: 240px;
  }
}


@media (max-width: 766px){
.main .heberg aside {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 0;
}
}

@media (max-width: 766px){
.main .heberg aside .Titre {
    width: 90%;
}
}
@media (max-width: 766px){
.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement .img {
    width: 100%;
    height: 12rem;
}
}

@media (max-width: 766px){
.main .heberg .hebergement_liste {
    margin-top: 20px;
    order: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
}

@media (max-width: 766px){
.main .heberg .hebergement_liste .hebergement_groupe {
    flex-direction: column;
}
}


@media (max-width: 766px){
.main .heberg .hebergement_liste .hebergement_groupe .card__hebergement {
    width: 85%;
    box-shadow: 0 0 6px 3px rgb(180 178 178 / 27%);
    border-radius: 15px;
}
}

@media (max-width: 766px){
.footer {
    flex-direction: column;
    padding-bottom: 0;
}
}

@media (max-width: 766px){
.footer__section {
    margin-bottom: 30px;
}
}


@media (min-width: 1200px){
    .Site {
        width: 75%;
        margin: 0 auto;
    }
}
